a {
    color: #000;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
p, a, li, span, input, button{
    font-family: 'Roboto', sans-serif;
}

#header {
    width: 100%;
    padding: 20px 0;
}

.header-title {
    font-size: 4em;
    text-align: center;
}

#content {
    width: 80%;
    margin: 0 auto;
}

#footer {
    padding: 20px 0;
    width: 100%;
}

#footer h3 {
    text-align: center;
}